$red:#f56c6c;
$yellow:#FFCA0E;
$yellowlight:#fff7d9;
$line:#e0e0e0;
$danger:#f56c6c;
$warning:#e6a23c;
$success:#67c23a;
$info:#909399;
$primary:#5BA4F6;
body,
html {
  font-family: Helvetica, Pingfang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, "sans-serif";
  color: #333333;
  background: #f8f8f8;
  height:100%;
}