.red{
    color:red;
}

.fs30{
    font-size:30px;
}

.son{
    width:200px;
    height:200px;
    background:pink;
    padding:20px;
}

.sun{
    width:100px;
    height:100px;
    background:yellowgreen;
    padding:20px; 
}